TELEGRAM_BOT_TOKEN=your-token-here

OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=gemma3:12b

OPENWEATHER_API_KEY=your-token-here
LAT = 0.000000
LON = -0.000000
TZ = https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
UNITS = metric